<%= simple_form_for author, defaults: {
  wrapper_html: { class: "col-sm-4 col-12" },
  label_html: { class: "font-weight-bold" }
  } do |f| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :age, wrapper_html: { class: "col-sm-2 col-12"} %>
  </div>
  <br>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
