<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @author.age %>
</p>

<p>
  <strong>Books:</strong>
  <% @author_books.each.with_index(1) do |book, count| %>
    <%= link_to book.title, book, class: 'btn p-0' %>
    <% if count < @author_books.length %>
      ,
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_author_path(@author),
  class: "btn btn-outline-warning btn-sm"%>
<%= link_to 'Back', books_path, class: "btn btn-sm btn-outline-primary" %>
