<p id="notice"><%= notice %></p>

<h2><i><%= @author.full_name %></i></h2>
<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @author.age %>
</p>

<p>
  <strong>Book(s):</strong>
  <div class="col-12">
    <% @authorships.each do |current| %>
      <% book = current.book %>
      <%= link_to book.title, book, class: 'btn p-0' %>
      <br>
    <% end %>
  </div>
</p>
<hr>

<%= link_to 'Edit', edit_author_path(@author),
  class: "btn btn-outline-warning btn-sm"%>
<%= link_to 'Back', authors_path, class: "btn btn-sm btn-outline-primary" %>
