<%= simple_form_for book do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%= f.input :title, wrapper_html: { class: "col-sm-6 col-12" } %>
    <%= f.input :sub_title, wrapper_html: { class: "col-sm-6 col-12" } %>
    <%= f.input :publisher, wrapper_html: { class: "col-sm-6 col-12" } %>
    <%= f.input :genre, wrapper_html: { class: "col-sm-6 col-12" } %>
    <%= f.input :classification, wrapper_html: { class: "col-sm-6 col-12" } %>
    <%= f.input :general_type, wrapper_html: { class: "col-sm-6 col-12" } %>
    <%= f.input :year, wrapper_html: { class: "col-sm-6 col-12" } %>
  </div>
  <br>

  <%= f.button :submit, class: 'btn btn-outline-primary' %>
<% end %>
