<%= simple_form_for book do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :title %>
  <%= f.input :sub_title %>
  <%= f.input :publisher %>
  <%= f.input :genre %>
  <%= f.input :classification %>
  <%= f.input :general_type %>
  <%= f.input :year %>
  <br>

  <%= f.button :submit, class: 'btn btn-outline-primary' %>
<% end %>
