<p id="notice"><%= notice %></p>

<div class="flex-row justify-content-between">
  <h1 class="float-left">Books</h1>
  <%= link_to 'Add a Book', new_book_path, class: "btn btn-primary float-right" %>
  <!-- <span class="clearfix"></span> -->
</div>

<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Publisher</th>
        <th>Genre</th>
        <th>Classification</th>
        <th>Book type</th>
        <th>Year</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% if @books.present? %>
        <% @books.each do |book| %>
          <% author_names = book.authors.map {|a| a.full_name} %>
          <tr>
            <td><%= link_to book.title, book, class: 'btn' %></td>
            <td>
              <% author_names.each do |name| %>
                <%= name %>
                <% if author_names.count > 1 && name != author_names.last %>
                  <hr>
                <% end %>
              <% end %>
            </td>
            <td><%= book.publisher %></td>
            <td><%= book.genre %></td>
            <td><%= book.classification %></td>
            <td><%= book.general_type %></td>
            <td><%= book.year %></td>
            <td><%= link_to 'Edit', edit_book_path(book), class: "btn btn-outline-warning btn-sm" %></td>
            <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% else %>
        <p>There are no books containing &quot<%= params[:keyword] %>&quot</p>
      <% end %>
    </tbody>
  </table>
</div>

<br>

