<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author(s):</strong>
  <% @authors.each.with_index(1) do |author, count| %>
    <%= link_to author.full_name, author, class: 'btn p-0' %>
    <%= ',' if count < @authors.length %>
  <% end %>
</p>

<p>
  <strong>Sub Title:</strong>
  <%= @book.sub_title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @book.classification %>
</p>

<p>
  <strong>Book type:</strong>
  <%= @book.general_type %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<%= link_to 'Edit', edit_book_path(@book),
  class: "btn btn-outline-warning btn-sm"%>
<%= link_to 'Back', books_path, class: "btn btn-sm btn-outline-primary" %>
