<p id="notice"><%= notice %></p>

<h2><i><%= @book.title %></i></h2>
<br>
<p>
  <strong>Author(s):</strong>
  <div class="col-12">
    <% @authors.each do |author| %>
      <%= link_to author.full_name, author, class: 'btn p-0' %>
      <br>
    <% end %>
  </div>
</p>

<p>
  <strong>Sub Title:</strong>
  <%= @book.sub_title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @book.classification %>
</p>

<p>
  <strong>Book type:</strong>
  <%= @book.general_type %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<%= link_to 'Go Back', books_path, class: "btn btn-sm btn-primary col-1" %>
<%= link_to 'Edit', edit_book_path(@book),
  class: "btn btn-warning btn-sm col-1"%>
<%= link_to 'Delete', @book, method: :delete, data: { confirm: "Are you sure you want to delete #{@book.title}?" }, class: "btn btn-danger btn-sm col-1" %>
