<!DOCTYPE html>
<html>
  <head>
    <title>FhHomework02</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark sticky-top">
      <%= link_to 'The Library', root_path, class: 'navbar-brand' %>
      <%= form_tag(books_path, method: 'get', id: 'search-form', class: 'form-inline float-right') do %>
        <%= text_field_tag :keyword, params[:keyword], placeholder: 'Search Books', class: 'form-control mr-2' %>
        <%= submit_tag "Search", name: nil, role: 'button', class: 'btn btn-outline-success' %>
      <% end %>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
